   
# compiled python files/caches
__pycache__/*
*.pyc

# ipynb_checkpoints
*/.ipynb_checkpoints/*

# compiled c library
*.o
*.so

plom.log
Example0/FigOut/KDE_EigenValue.png
Example0/FigOut/PCA_CovarianceMatrix.png
example/example0_constraints/
